<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div id="contenedor">
        <div id="cabecera">
            <div id="logo">
                <img src="~/Content/logo.jpg"/>
                <h1></h1>
            </div>
            <div id="buscador">
                <form action="#" method="post">
                    Buscar &nbsp;
                    <input name="busqueda" type="text" />
                </form>
            </div>
            <div class="clear">
            </div>
        </div>
        <div id="menu">
            <ul id="menu_principal">
                <li> <a href="/">Home</a> </li>
                <li>
                    <a href="@Url.Action("Index", "Afiliado")">Afiliados</a>
                </li>
            </ul>
        </div>
        <div id="contenido">
            <div id="principal">
                @RenderBody()
            </div>
            <div id="secundario">
                <h2>
                    <a href="/Afiliado/Create"> Nuevo Afiliado</a>
                </h2>
            </div>
        </div>
        <div id="pie">
            <p> Bossio Juan Cruz LPPA Recuperatorio Parcial N°1</p>
        </div>

    </div>
</body>
</html>